* {
  margin: 0.5rem;
}

h1 {
  text-align: center;
  background-color: black;
  padding: 1rem;
  color: white;
}

/* Estilos para los formularios */
#formProducts, #formMovements {
  background-color: #f0f0f0;
  padding: 3%;
  margin-bottom: 2%;
}


#productsContainer {
  padding: 2rem;
  background-image: url(img/439391.jpg);
}

#stockControl {
  text-align: center;
  margin-bottom: -40px;
}

h5 {
  color: white;
  font-size: 1.5rem;
  padding-bottom: 1%;
}

/* Media queries para hacer la tabla responsive en dispositivos móviles */

@media screen and (max-width: 575px) {
#productsContainer .row {
  display: flex;
  flex-direction: column;
}

#productsContainer .title h4 {
  font-size: 1.5rem;
}

.row {
  margin: 0.8vh;
}

}


